<%- include('../header.ejs') %>
<main id="content">

  <div class="grid-row">

    <div class="column-full">
      <h1 class="heading-xlarge">Dashboard</h1>

      <h2 class="heading-large">Modules</h2>
      <table class="list">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th class="numeric" scope="col">Order</th>
          </tr>
        </thead>
        <tbody>
          <% modulesList.forEach(function(module){ %>
            <tr>
              <th scope="row"><a href="/admin/module/<%= module.number %>"><%= module.title %></a></th>
              <td><%= module.description %></td>
              <td class="numeric"><%= module.number %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="form-group">
        <a class="button" href="/admin/module/new" role="button">Create new module</a>
      </div>

      <h2 class="heading-large">Lessons</h2>
      <table class="list">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Module</th>
            <th class="numeric" scope="col">Order in module</th>
          </tr>
        </thead>
        <tbody>
          <% lessonsList.forEach(function(lesson){ %>
            <tr>
              <th scope="row"><a href="/admin/module/<%= lesson.Module.number %>/lesson/<%= lesson.number %>"><%= lesson.title %></a></th>
              <td><%= lesson.Module.title %></td>
              <td class="numeric"><%= lesson.number %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="form-group">
        <a class="button" href="/admin/lesson/new" role="button">Create new lesson</a>
      </div>

      <h2 class="heading-large">Pages</h2>
      <table class="list">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
          </tr>
        </thead>
        <tbody>
          <% pagesList.forEach(function(page){ %>
            <tr>
              <th scope="row"><a href="/admin/page/<%= page.id %>"><%= page.title %></a></th>
              <%
              if(page.content.length > 50) {
                page.content = page.content.substring(0,49)+"...";
              }
              %>
              <td><%= page.content %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="form-group">
        <a class="button" href="/admin/page/new" role="button">Create new page</a>
      </div>

    </div>
  </div>

  <h2 class="heading-large">Feedback</h2>
  <table class="list">
    <thead>
      <tr>
        <th scope="col">Module</th>
        <th scope="col">Experience</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      <% feedbackList.forEach(function(feedback){ %>
        <tr>
          <th scope="row"><%= feedback.moduleNumber %></th>
          <th><%= feedback.experience %></th>
          <td><%= feedback.message %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <div class="form-group">
    <a class="button" href="/admin/feedback/download" role="button">Download CSV</a>
  </div>
  <div class="grid-row">
    <div class="column-one-half">
      <div class="data">
        <span class="data-item bold-xxlarge"><%- allFeedback %></span>
        <span class="data-item bold-xsmall">Submissions so far</span>
      </div>
    </div>
    <div class="column-one-half">
      <div class="data">
        <span class="data-item bold-xxlarge"><%- recentFeedback %></span>
        <span class="data-item bold-xsmall">Submissions in the last 7 days</span>
      </div>
    </div>
  </div>

</main>
<%- include('../footer.ejs') %>
