<%- include('../header.ejs') %>
<main id="content">

  <div class="breadcrumbs" data-lesson="track-click">
    <ol>
      <li class="">
          <a href="/admin">Dashboard</a>
      </li>
      <% if( mode === "edit" ){ %>
        <li>Editing lesson</li>
      <% } else { %>
        <li>New lesson</li>
      <% } %>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-full">

      <% if( mode === "edit" ){ %>
        <h1 class="heading-xlarge">Edit a lesson</h1>
      <% } else { %>
        <h1 class="heading-xlarge">Create a new lesson</h1>
      <% } %>

      <% if(mode === "edit" && typeof lesson !== 'undefined'){ %>
        <form action="/admin/lesson/<%- lesson.id %>/submit" method="POST">
      <% } else { %>
        <form action="/admin/lesson/new" method="POST">
      <% } %>

        <div class="form-group">
          <label class="form-label" for="title">Lesson title</label>
          <input class="form-control" id="title" name="title" <% if(mode === "edit" && typeof lesson !== 'undefined'){ %> value="<%- lesson.title %>" <% } %> required>
        </div>

        <div class="form-group">
          <label class="form-label" for="moduleId">
            Module
            <span class="form-hint">
              Give the module this lesson will belong to.
            </span>
          </label>
          <select class="form-control" id="moduleId" name="moduleId" required>
            <% for (var i = 0; i < modules.length; i++) { %>
              <option value="<%= modules[i].id %>" <% if(mode === "edit" && typeof lesson !== 'undefined'){ if(modules[i].id === lesson.moduleId){ %>selected<%} } %> ><%= modules[i].title %></option>
            <% }%>
          </select>

        </div>




        <div class="form-group">
          <label class="form-label" for="number">
            Lesson order
            <span class="form-hint">
              Give a number to indicate when in the module this lesson should be completed.
              <br/>
              For example, lesson 5 will appear after lesson 4.
            </span>
          </label>
          <input class="form-control" min="0" id="number" name="number" type="number" <% if(mode === "edit" && typeof lesson !== 'undefined'){ %> value="<%- lesson.number%>" <% } %> required>
        </div>

        <div class="form-group">
          <fieldset class="inline">
            <legend>
              <p class="form-label">Lesson type</p>
            </legend>
            <div class="multiple-choice">
              <input id="lessonType-1" type="radio" name="lessonType" value="Learn" required <% if(mode === "edit" && typeof lesson !== 'undefined'){ if(lesson.lessonType === "Learn"){ %> checked <% } } %>>
              <label for="lessonType-1">Learn</label>
            </div>
            <div class="multiple-choice">
              <input id="lessonType-2" type="radio" name="lessonType" value="Video" required <% if(mode === "edit" && typeof lesson !== 'undefined'){ if(lesson.lessonType === "Video"){ %> checked <% } } %>>
              <label for="lessonType-2">Video</label>
            </div>
            <div class="multiple-choice">
              <input id="lessonType-3" type="radio" name="lessonType" value="Project task" required <% if(mode === "edit" && typeof lesson !== 'undefined'){ if(lesson.lessonType === "Project task"){ %> checked <% } } %>>
              <label for="lessonType-3">Project task</label>
            </div>
          </fieldset>
        </div>


        <div class="form-group">
          <fieldset class="inline">
            <legend>
              <p class="form-label">Difficulty</p>
            </legend>
            <div class="multiple-choice">
              <input id="difficulty-1" type="radio" name="difficulty" value="S" required <% if(mode === "edit" && typeof lesson !== 'undefined'){ if(lesson.difficulty === "S"){ %> checked <% } } %>>
              <label for="difficulty-1">S</label>
            </div>
            <div class="multiple-choice">
              <input id="difficulty-1" type="radio" name="difficulty" value="M" required <% if(mode === "edit" && typeof lesson !== 'undefined'){ if(lesson.difficulty === "M"){ %> checked <% } } %>>
              <label for="difficulty-1">M</label>
            </div>
            <div class="multiple-choice">
              <input id="difficulty-1" type="radio" name="difficulty" value="L" required <% if(mode === "edit" && typeof lesson !== 'undefined'){ if(lesson.difficulty === "L"){ %> checked <% } } %>>
              <label for="difficulty-1">L</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <label class="form-label" for="content">
            Content
          </label>
          <textarea class="form-control" name="content" rows="10"><% if(mode === "edit" && typeof lesson !== 'undefined'){ %><%- lesson.content %><% } %></textarea>
        </div>

        <div class="form-group inline">
          <input class="button" type="submit" <% if(mode === "edit" && typeof lesson !== 'undefined'){ %> value="Update" <% } else { %> value="Publish" <% } %>>
        </div>
      </form>

      <% if( mode === "edit" ){ %>
        <form action="/admin/lesson/<%- lesson.id %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to permenantly delete this lesson?');" >
          <div class="form-group inline">
            <input class="button button-danger" type="submit" value="Delete lesson">
          </div>
        </form>
      <% } %>


    </div>

  </div>
</main>

<script src="<%= govukTemplateAssetPath %>simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({
	toolbar: [
    "bold",
    "italic",
    "heading",
    "|",
    "code",
    "quote",
    "|",
    "unordered-list",
    "ordered-list",
    "|",
    "link",
    "image",
    "horizontal-rule",
    {
      name: "redText",
      action: drawTodo,
      className: "fa fa-check-square", // Look for a suitable icon
      title: "Todo box"
    },
    "|",
    "fullscreen",
    "guide"
  ],
});

function drawTodo(editor) {
    var cm = editor.codemirror;
    var output = '';
    var selectedText = cm.getSelection();
    var text = selectedText || '';
    output = '<div class="todo">' + text + '</div>';
    cm.replaceSelection(output);
}

</script>

<%- include('../footer.ejs') %>
