<%- include('../header.ejs') %>
<main id="content">

  <div class="breadcrumbs" data-module="track-click">
    <ol>
      <li class="">
          <a href="/admin">Dashboard</a>
      </li>
      <% if( mode === "edit" ){ %>
        <li>Editing module</li>
      <% } else { %>
        <li>New module</li>
      <% } %>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-full">

      <% if( mode === "edit" ){ %>
        <h1 class="heading-xlarge">Edit a module</h1>
      <% } else { %>
        <h1 class="heading-xlarge">Create a new module</h1>
      <% } %>

      <% if(mode === "edit" && typeof module !== 'undefined'){ %>
        <form action="/admin/module/<%- module.number %>" method="POST">
      <% } else { %>
        <form action="/admin/module/new" method="POST">
      <% } %>

        <div class="form-group">
          <label class="form-label" for="title">Module title</label>
          <input class="form-control" id="title" name="title" <% if(mode === "edit" && typeof module !== 'undefined'){ %> value="<%- module.title %>" <% } %> required>
        </div>

        <div class="form-group">
          <label class="form-label" for="number">
            Module order
            <span class="form-hint">
              Give a number to indicate when this module should be completed.
              <br/>
              For example, module 5 will appear after module 4.
            </span>
          </label>
          <input class="form-control" id="number" name="number" min="0" type="number" <% if(mode === "edit" && typeof module !== 'undefined'){ %> value="<%- module.number%>" <% } %> required>
        </div>

        <div class="form-group">
          <label class="form-label" for="description">
            Module description
            <span class="form-hint">
              Summarise the content of this module in a sentence.
            </span>
          </label>
          <textarea class="form-control" name="description" id="description" rows="3"><% if(mode === "edit" && typeof module !== 'undefined'){ %><%- module.description %><% } %></textarea>
        </div>

        <div class="form-group">
          <label class="form-label" for="available-from">Available from</label>
          <input class="form-control" id="available-from" name="available-from" type="date" <% if(mode === "edit" && typeof module !== 'undefined'){ %> value="<%- module.availableFrom %>" <% } %> required>
        </div>

        <div class="form-group">
          <label class="form-label" for="available-to">Available to</label>
          <input class="form-control" id="available-to" name="available-to" type="date" <% if(mode === "edit" && typeof module !== 'undefined'){ %> value="<%- module.availableTo %>" <% } %> required>
        </div>

        <div class="form-group inline">
          <input class="button" type="submit" <% if(mode === "edit" && typeof module !== 'undefined'){ %> value="Update" <% } else { %> value="Publish" <% } %>>
        </div>

      </form>

      <% if( mode === "edit" ){ %>
        <form action="/admin/module/<%- module.number %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to permenantly delete this module and all its lessons?');" >
          <div class="form-group inline">
            <input class="button button-danger" type="submit" value="Delete module">
          </div>
        </form>
        <a class="block" href="/module/<%- module.number %>">View module</a>
      <% } %>
    </div>
  </div>
</main>
<%- include('../footer.ejs') %>
