<%- include('../header.ejs') %>
<main id="content">

  <div class="breadcrumbs" data-page="track-click">
    <ol>
      <li class="">
          <a href="/admin">Dashboard</a>
      </li>
      <% if( mode === "edit" ){ %>
        <li>Editing page</li>
      <% } else { %>
        <li>New page</li>
      <% } %>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-full">

      <% if( mode === "edit" ){ %>
        <h1 class="heading-xlarge">Edit a page</h1>
      <% } else { %>
        <h1 class="heading-xlarge">Create a new page</h1>
      <% } %>

      <% if(mode === "edit" && typeof page !== 'undefined'){ %>
        <form action="/admin/page/<%- page.id %>" method="POST">
      <% } else { %>
        <form action="/admin/page/new" method="POST">
      <% } %>

        <div class="form-group">
          <label class="form-label" for="title">Page title</label>
          <input class="form-control" id="title" name="title" <% if(mode === "edit" && typeof page !== 'undefined'){ %> value="<%- page.title %>" <% } %> required>
        </div>

        <div class="form-group">
          <label class="form-label" for="content">
            Content
          </label>
          <textarea class="form-control" name="content" rows="10"><% if(mode === "edit" && typeof page !== 'undefined'){ %><%- page.content %><% } %></textarea>
        </div>

        <div class="form-group inline">
          <input class="button" type="submit" <% if(mode === "edit" && typeof page !== 'undefined'){ %> value="Update" <% } else { %> value="Publish" <% } %>>
        </div>

      </form>

      <% if( mode === "edit" ){ %>
        <form action="/admin/page/<%- page.id %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to permenantly delete this page?');" >
          <div class="form-group inline">
            <input class="button button-danger" type="submit" value="Delete page">
          </div>
        </form>
      <% } %>


    </div>

  </div>
</main>

<script src="<%= govukTemplateAssetPath %>simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE();
</script>

<%- include('../footer.ejs') %>
