
    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        <%- include('partials/_footer_top') %>

        <div class="footer-meta">
          <div class="footer-meta-inner">
            <%- include('partials/_footer_support_links') %>

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <%- include('partials/_licence_message') %>

            </div>
          </div>

          <div class="copyright">
            <% if (crownCopyrightMessage) { %><%= crownCopyrightMessage %><% } else { %>&copy; Crown copyright<% } %> <%= new Date().getFullYear() %>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="<%= govukTemplateAssetPath %>javascripts/govuk-template.js?0.23.0"></script>

    <%- include('partials/_body_end') %>


    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>
