<%- include('header.ejs') %>
<main id="content">

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Learn to code in six months</h1>
      <p class="lede">DDaT Codelabs are an easy way to practice using the technology involved in building government services.</p>
      <p><a href="/why-this-exists">Read more about why Codelabs exists</a></p>
      <h2 class="heading-large">All modules</h2>
      <p>A new module is released at the start of each month.</p>
      <div class="panel panel-border-wide">
        <p>
          If this is your first time here, you need to complete a <a href="/set-up">5 minute setup guide</a> before starting these modules.
        </p>
      </div>

      <div class="collapsible-list">
        <ol class="modules-list">
          <% modules.forEach((module)=>{ %>
            <li>
              <h3 class="heading-medium"><%= module.title %></h3>
              <p><%= module.description %></p>
              <ol class="list">
                <%
                  let sortedLessons = module.lessons.sort((a,b)=>{
                    return a.number>b.number;
                  })
                %>
                <% for (var i = 0; i < sortedLessons.length; i++) { %>
                  <li><%= sortedLessons[i].number %>. <a href="/module/<%= module.number %>/lesson/<%= module.lessons[i].number %>"><%= module.lessons[i].title %></a></li>
                <% } %>
              </ol>
            </li>
          <% }) %>
        </ol>
      </div>



    </div>

    <div class="column-one-third">
    </div>

  </div>
</main>
<%- include('footer.ejs') %>
