<%- include('header.ejs') %>
<main id="content">

  <div class="breadcrumbs">
    <ol>
      <li class="">
          <a href="/">DDaT Codelabs</a>
      </li>
      <li class="">
          <a href="/module/<%= module.number %>"><%= module.title %></a>
      </li>
      <li class=""><%= lesson.title %></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary"><%= lesson.lessonType %></span>
    <%= lesson.number %>. <%= lesson.title %>
  </h1>

  <div class="grid-row">

    <div class="column-two-thirds">
      <div class="lesson-content">
        <%- lesson.content %>
      </div>
    </div>

    <div class="column-one-third">
      <strong class="bold">Lessons in this module:</strong>
      <ol class="list list-numbered">
        <%
          let sortedLessons = module.lessons.sort((a,b)=>{
            return a.number>b.number;
          })
        %>
        <% for (var i = 0; i < sortedLessons.length; i++) { %>
          <% if (sortedLessons[i].number === lesson.number) { %>
            <li><%= sortedLessons[i].number %>. <%= sortedLessons[i].title %></li>
          <% } else { %>
            <li><a href="/module/<%= module.number %>/lesson/<%= sortedLessons[i].number %>"><%= sortedLessons[i].number %>. <%= sortedLessons[i].title %></a></li>
          <% } %>
        <% } %>
      </ol>
    </div>

  </div>
</main>
<%- include('footer.ejs') %>
